<app-sales-form
(saleCreated)="addSale($event)"></app-sales-form>

<div class="table-responsive">
  <table class="table transaction-table align-middle">

    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Tipo</th> <!-- Venta (Operador) Cancelaciones y devoluciones (Supervisor)-->
        <th scope="col">Importe</th>
        <th scope="col">Nombre</th>
        <th scope="col">Tarjeta</th>
        <th scope="col">Expiración</th>
        <th scope="col">CVV</th>
        <th scope="col">Fecha</th>

        @if (isSupervisor()) {
          <th scope="col">Referencia</th> <!-- Operador no puede ver este th y solo ve tipo Venta -->
        }
      </tr>
    </thead>

    <tbody>

@for (sale of sales; track sale.id) {
      <tr>
        <th scope="row">
          {{ sale.id }}
        </th>

        <td>
          <span class="transaction-badge sale">
            {{ sale.type }}
          </span>
        </td>

        <td>${{ sale.amount | number:'1.2-2' }}</td>
        <td>{{ sale.name }}</td>
        <td>{{ sale.card }}</td>
        <td>{{ sale.expiration }}</td>
        <td>{{ sale.cvv }}</td>
        <td>{{ sale.date }}</td>

        @if (isSupervisor()) {
          <td>000990921</td>
        }
      </tr>

    }

    </tbody>

  </table>
</div>